@font-face {
    font-family: 'supcom';
    src: url('../fonts/zeroes_3.ttf');
}

@font-face {
    font-family: Entypo;
    src: url('../fonts/Entypo.otf');
}


h1 {
    font-family: 'supcom';
}

a {
    color: #666;
}

.navbar-brand {
  padding-top: 10px;
}

body { 
  padding-top: 50px; 
}


.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover,
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
    background-color: #444;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
    background-color: #333;
}

.pagination>li>a:hover,
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus,
.navbar-default .navbar-nav li:hover, 
.navbar-default .navbar-nav li:focus {
   background-color: #666;
}