@font-face {
    font-family: 'supcom';
    src: url('../fonts/zeroes_3.ttf');
}

@font-face {
    font-family: Entypo;
    src: url('../fonts/Entypo.otf');
}


h1 {
    font-family: 'supcom';
}

a {
    color: #666;
}

.navbar-brand {
  padding-top: 8px;
}

body { 
  padding-top: 50px; 
}