{% extends "layout.html" %}
{% set active_page = "clans" %}
{% set title = "Clan List" %}
{% block container %}
<table id="clanlist" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tag</th>
        <th>Leader</th>
        <th>Members</th>
        <th>Actions</th>
      </tr>
    </thead>
</table>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
  $.ajax({
      url: 'http://127.0.0.1:8080/clans',
      dataType: 'json',
      cache: false,
      success: function(data) {
          var dataSet = []
          
          for (var row in data.data) {
              var clan = data.data[row]
              var button = '<a href="clan/' + clan.clan_id + '" class="btn btn-primary btn-xs">Open Clanpage</a>';
              dataSet.push([clan.clan_name, clan.clan_tag, clan.leader_name, clan.member_count, button])
          }
          $('#clanlist').DataTable({
              data: dataSet
          });
      },
      error: function(xhr, status, err) {
          console.error(status);
      }
  });
});
</script>
{% endblock %}